.y-delivery-cart{margin-top: 20px;}
.y-delivery-title{font-weight: bold; margin-bottom: 5px;}
.y-delivery-title a{text-decoration: underline;}
.y-delivery-cart-table{padding: 0px!important;border: 1px solid #DEDEDE!important;; width: 100%!important;;}
.y-delivery-cart-table td{border: 1px solid #DEDEDE!important; padding: 5px!important;;}
.y-delivery-cart-table .y-delivery-tr-head{background: #f6f6f6!important;;}

.y-hover-description-icon{display: inline-block; position: relative; width: 15px; height: 15px; padding: 0px 4px; line-height: 17px; font-size: 12px; font-family: arial; font-weight: bold; cursor: default; box-sizing: border-box; border-radius: 8px; background: #454545; color: #fff; margin-left: 3px;}
.y-hover-description-body{position: absolute; background: #454545; color: #fff; line-height: 17px; font-size: 12px; font-weight: normal; border-radius: 3px; left: 0px; top:0px; display: none; width: 200px; height: auto; padding: 8px 10px ; box-shadow: 0px 0px 10px rgba(80,80,80,0.4);}
.y-hover-description-icon:hover .y-hover-description-body{display: block;}

.y-delivery-preloader{width: 20px; height: 20px; display: inline-block; background: url(images/preloader.gif) no-repeat;}