
.ygoda-border{
	width:230px;
	background-color:#FFFFFF;
	color:#CCCCCC;
	font-size:12px;
	border-radius:5px;
}
.ygoda{
	width:230px;
	background-color:#FFFFFF;
	border-radius:5px;
	padding-bottom: 10px;
}
.ygoda-img{
	text-align:center;
}
.ygoda-fact-left{
	float:left;
	margin-left:5px;
}
.ygoda-fact-right{
	float:right;
	font-weight:bold;
	font-size:22px;
	color:#000;
	margin-right:5px;
	margin-top:3px;
}
.ygoda-span-1{
	color:#000;
	font-weight:bold;
	font-size:14px;
}
.ygoda-days{
	width:100%;
	float:left;
	clear:both;
	font-size:14px;
	color:#000;
	margin-top:26px;
	margin-top:24px\0/;
	padding-bottom: 30px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .ygoda-days{
	width:100%;
	float:left;
	clear:both;
	font-size:14px;
	color:#000;
	margin-top:24px;
	padding-bottom: 30px;
}
}
.ygoda-oneday{
	width:230px;
	float:left;
	padding:2px 2px 2px 2px;
	margin-top:10px;
}
.ygoda-oneday-name{
	float:left;
	margin-left:15px;
	width:70px;
}
.ygoda-oneday-img{
	float:left;
	margin-right:25px;
	margin-top:5px;
}
.ygoda-oneday-temp{
	float:left;
	width:70px;
}
.ygoda-end{
	clear:both;
}