@media screen and (max-width: 1024px){
	.wrap{
		width: auto;
		margin: 0 auto;
	}
}
@media screen and (max-width: 800px){
	#news_day{
		float: none;
		width: auto;
	}
	
	#news_day .col_left_in{
		border: none;
		margin: 0;
		padding: 0;
	}
	
	#news_day .news_item{
		border: none;
	}
	
	#news_hot{
		border: none;
		margin-left: 0;
	}
	
	#news_hot .news_item{
		margin-left: 0;
	}
	
	.news_sections .news_secs{
		width: auto;
	}
	
	.news_top a.picture{
		float: none;
		width: auto;
	}
	
	#page > header  .search_form input[type="text"]{
		width: 20px;
	}
	
	.wheather_fact > h1{
		display: none;
	}
	
	.info_wheather .wheather_item{
		border: none;
		border-bottom: 1px solid #d6d6d6;
		clear: both;
		display: block;
		height: auto;
		overflow: hidden;
		width: auto;
	}
	 .wheather_item > h1{
		float: left;
		width: 20%;
	}
	.wheather_item img{
		float: left;
	}
	.wheather_item .wheather_data{
		float: right;
		height: 40px;
		overflow: hidden;
		width: 30%
	}
}
@media screen and (max-width: 480px){
	body{
		max-width: 480px;
	}
	
	.col_x2_left{
		float: none;
		width: auto;
	}
	
	.col_x1_right{
		float: none;
		width: 100%;
	}
	
	.col_left_in{
		border: none;
		margin: 0;
		padding: 0;
	}
	
	.col_x1_left{
		float: none;
		width: auto;
	}
	
	.col_x2_right{
		float: none;
		width: auto;
	}
	
	.col_left_in_noborder{
		margin: 0;
	}
	
	#page > footer .logo{
		float: none;
		width: auto;
		text-align: center;
	}
	
	.news_line a.picture{
		max-height: none;
	}
}