/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea{
	border: 0;
	font-size: 100%;
	font: Georgia, 'Times New Roman', Times, serif;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	outline: none;
	font-weight:normal;
}

ul, ol{list-style: none outside none;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
	display: block;
}

body{
	color: #000;
	font: normal 14px/1.25 Georgia, 'Times New Roman', Times, serif;
}

blockquote, q{quotes: none;}

blockquote:before, blockquote:after,
q:before, q:after{
	content: '';
	content: none;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}
b, strong{font-weight: 600;}

img{
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

a{
	color: #000;
	text-decoration: underline;
}

a:hover{
	text-decoration: none;
}

.video embed,
.video object,
.video iframe{
	width: 100%;
	height: auto;
}
.clearfix:after{
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
    height: 0;
	visibility: hidden;
}

* html .clearfix{//zoom: 1;} /* IE6 */

*:first-child+html .clearfix{//zoom: 1;} /* IE7 */

h1{
	font-size: 22px;
}
h1 > a{
	text-decoration: none;
}

h1 > a:hover{
	text-decoration: underline;
}
h1.bolda > a{
	font-weight:bold;
}

.clear{
	clear: both;
}

/*HEADER*/
.wrap{
	width: 1024px;
	margin: 0 auto;
}

.wrapIn{
	margin: 0 10px;
	position: relative;
}

.logo,
.date_now{
	display: block;
	margin: 0 auto;
}

.date_now{
	margin-bottom: 5px;
	text-transform: lowercase;
}

#page{
	padding:10px 0;
	overflow:hidden;
}

#page > header{
	text-align: center;
}

#page > footer{

}
#page > footer .wrapIn{
	border-top: 4px solid #000;
	padding-top: 20px;
}

#content{
	margin-bottom: 25px;
}

#page input,
#page textarea{
	border: 1px solid #abadb3;
	padding: 5px 10px;
}

#page input[type="submit"]{
	background: #1c1c1c;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	height: 29px;
	line-height: 1;
	padding: 0 10px;
}
.powered_by{
	width:100%;
	margin-top:25px;
	font-size:11px;
	text-align:center;
}
#page > footer .f_logo,
#page > footer .f_info,
#page > footer .f_info2{
	float:left;
}
#page > footer .f_logo,
#page > footer .f_info{
	margin-right:25px;
}

.text_color{
	color: #df0000;
}
/*menu.head*/
#menu_top{
	background: #939393;
	background: -moz-linear-gradient(top, #a2a2a2, #606060);
	background: -webkit-gradient(linear, left top, left bottom,	color-stop(0%,#a2a2a2), color-stop(100%,#606060));
	background: -webkit-linear-gradient(top, #a2a2a2, #606060);
	background: -o-linear-gradient(top, #a2a2a2, #606060);
	background: -ms-linear-gradient(top, #a2a2a2, #606060);
	background: linear-gradient(top, #a2a2a2, #606060);
	margin-bottom: 25px;
	padding: 6px 0;
	position: relative;
	text-align: center;
}

#menu_top > a,
#menu_top > span{
	color: #fff;
	display: inline-block;
	//display: inline;
	line-height: 22px;
	margin: 0 5px;
	text-decoration: none;
	text-transform: uppercase;
	//zoom: 1;
}

#menu_top > a:hover{
	text-decoration: underline;
}

.block_justify{
	font-size: 1px;
	line-height: 0;
	text-align: justify;
	//text-align-last: justify;
	//text-justify: newspaper;
	//zoom: 1;
}

.block_justify:after{
	content: '';
	display: inline-block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	width: 100%;
}

/*menu.bottom*/
#menu_bottom{
	border-bottom: 2px solid #000;
	border-top: 4px solid #000;
	margin-bottom: 20px;
}

#menu_bottom a{
	display: inline-block;
	//display: inline;
	line-height: 42px;
	font-size: 16px;
	text-align: left;
	text-decoration: none;
	//zoom: 1;
}

#menu_bottom > a:hover{
	text-decoration: underline;
}

#menu_foot{
	overflow: hidden;
}

#menu_foot > a{
	text-decoration: none;
}

#menu_foot > a:hover{
	text-decoration: underline;
}

#page > footer .logo{
	float: left;
	margin: 0 20px 10px 0;;
}

#page > header .logo{
	padding-bottom: 10px;
	width: 50%;
}

/*page*/
.col_x2_left{
	float: left;
	width: 66%
}

.col_x2_right{
	clear: both;
	float: right;
	width: 66%
}

.col_x1_right{
	clear: right;
	float: right;
	//min-width: 259px;
	width: 34%;
}

.col_x1_left{
	float: left;
	//min-width: 259px;
	width: 34%
}

.col_left_in{
	padding-right: 10px;
	margin: 0 10px 10px 0;
	border-right: 1px solid #d4d4d4;
}

.col_left_in_noborder{
	padding-bottom: 10px;
	margin-right: 20px;
}

/*news.list*/
.news_list > h1,
.info_wheather > h1{
	border-top: 2px solid #000;
	border-bottom: 1px solid #d4d4d4;
	margin-bottom: 10px;
	padding: 3px 0;
}

.news_item{
	margin-bottom: 15px;
	width: 100%;
	display: inline-block;
	//display: inline;
	vertical-align: top;
	//zoom: 1;
}

.news_item h1{
	font-size: 14px;
	margin-bottom: 10px;
}

.news_item.long{
	border-bottom: 1px solid #d4d4d4;
	padding-bottom: 10px;
}
.news_item.last{
	border: none;
}

.news_item.long h1{
	font-size: 22px;
}

.news_item a.picture{
	display: block;
	margin-bottom: 5px;
}

.news_item a.picture img,
.news_detail .detail_picture{
	width: 100%;
}

.news_line a.picture{
	display: block;
	max-height: 150px;
	margin-bottom: 5px;
	overflow: hidden;
}

.news_item .body{
	overflow: hidden;
}

.news_col a.picture{
	float:left;
	margin-right: 3%;
	max-height: 100px;
	overflow: hidden;
	width: 47%;
}


.news_secs{
	display: inline-block;
	//display: inline;
	vertical-align: top;
	line-height: 1.2;
	width: 48%;
	text-align: left;
	//zoom: 1;
}

.news_more{
	margin-bottom: 15px;
	clear:left;
}

.news_more h1{
	display: inline;
}

.news_more .news_item{
	display: inline;
	float: none;
	margin: 0;
}

.news_top .news_item{
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.news_top a.picture{
	float:left;
	margin-right: 20px;
	width: 55%;
}

.news_sec{
	border-bottom: 1px solid #D4D4D4;
}

.news_sec a.picture{
	float: left;
	margin-right: 2%;
	width: 33%
}

.news_sec .news_item.long{
	border: none;
}

#news_last{
	padding-bottom: 10px;
}

#news_last .news_item .text{
	display: none;
}

#news_last .news_item.long .text{
	display: inline;
}

#news_day{
	float: left;
	width: 60%;
}

#news_hot{
	margin-left: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}

#news_last .news_list{
	clear: left;
}

#news_day a.picture{
	margin-bottom: 10px;
}

/*news.detail:i*/
.news_detail{
	margin-bottom: 10px;
}

.news_detail .preview_text{
	font-size: 16px;
	margin-bottom: 20px;
}

.news_detail h1{
	margin-bottom: 15px;
}

.news_detail .detail_picture{
	margin-bottom: 15px;
}

.news_detail .content p{
    padding: 0 0 10px;
}

/*index-adv*/
.adv_block{
	margin-bottom: 10px;
}

.info_wheather{

}

.wheather_wrap{
	border: 1px solid #d6d6d6;
	border-top: none;
	margin-top: -10px;
	margin-bottom: 10px;
}

.wheather_item > h1{
	font-size: 16px;
	text-transform: uppercase;
}

.info_wheather .wheather_item{
	border-right: 1px solid #d6d6d6;
	display: inline-block;
	//display: inline;
	font-size: 16px;
	height: 200px;
	line-height: 1.2;
	margin: 10px 0;
	padding: 2px 0;
	text-align: center;
	vertical-align: top;
	width: 19%;
	//zoom: 1;	
}
.wheather_item img{
	width: 64px;
}

.wheather_fact{
	bottom: 0;
	clear: both;
	float: left;
	height: 50px;
	left: 0;
	overflow: hidden;
	padding-top: 10px;
	position: absolute;
	text-align: left;
	text-decoration: none;
	width: 25%;
}
.wheather_fact img{
	left: 0;
	position: absolute;
	top: 0;
	z-index: -1;
}

.wheather_fact .weather_temp{
	float: left;
	font-size: 28px;
	margin: 0 20px 0 0;
}

.wheather_fact > h1{
	font-size: 14px;
	margin-top: 5px;
}

/*search.title*/
#page > header .search_wrap{
	float: right;
	position: relative;
	margin-top: -44px;
}

#page > header .search_form{
	position: absolute;
	right: 0;
	top: 0;
	width: 240px;
}

.search_form input{
	float: right;
}

#page .search_form input[type="text"]{
	clear: none;
	line-height: 1;
	height: 14px;
	padding: 4px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
#page .search_form input[type="submit"]{
	background: url(img/icon_search.png) no-repeat scroll center center #EDEDED;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	border-radius: 0;
	border-left: none;
	height: 24px;
	padding: 0;
	width: 30px;
}

div.title-search-result{
	border: 1px solid #c6c6c6;
	overflow: hidden;
	z-index: 205;
}

table.title-search-result{
	border-collapse: collapse;
	border: none;
	width: 100%;
}

table.title-search-result td{
	background-color: #fff;
	color: #000;;
	font-weight: normal;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	white-space: nowrap;
}

table.title-search-result td.title-search-item{
	padding-left: 8px;
	padding-right: 15px;
}

table.title-search-result td.title-search-item a{
	padding-left: 4px;
	padding-right: 15px;
	text-decoration: none;
	color: #000;
	vertical-align: top;
}

table.title-search-result td.title-search-item img{
	vertical-align: top;
}

table.title-search-result td.title-search-item b{
	color: #cf0000;
	font-weight: normal;
}

table.title-search-result tr.title-search-selected td
,table.title-search-result tr.title-search-selected a
,table.title-search-result tr.title-search-selected td.title-search-more a{
	background-color: #fff2be;
}

table.title-search-result td.title-search-more{
	font-size: 11px;
	font-weight: normal;
	padding-right: 15px;
	padding-left: 24px;
	padding-top: 0px;
}

table.title-search-result td.title-search-more a
{
	padding-left: 12px;
	padding-right: 15px;
	text-decoration: none;
	color: #999;
}

table.title-search-result td.title-search-all{
	padding-left: 24px;
	padding-right: 15px;
}

table.title-search-result td.title-search-all a{
	padding-left: 4px;
	text-decoration: none;
	color: #808080;
}

table.title-search-result td.title-search-separator,
table.title-search-result th.title-search-separator{
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 4px;
}

div.title-search-fader{
	background-image: url(img/fader.png) repeat-y right top;
	display: none;
	position: absolute;
}

/*search.page*/
div.search-tags-chain a{
	margin: 2px;
}

div.search-tags-chain a.search-tags-link{
	color: #333;
	font-size: 90%;
	text-decoration: none;
	color: #535353;
}

div.search-tags-cloud a{
	white-space: normal;
}

div.search-advanced{
	overflow: hidden;
	padding: 0.5em 0;
	zoom: 1;
}

div.search-advanced-result{
	float: left;
}

div.search-advanced-filter{
	float: right;
}

div.search-advanced-filter a{
	outline: none;
}

div.search-item{
	border-bottom: 1px solid;
	margin: 0 0 1.5em;
	padding: 0 0 1.5em;
}

div.search-item h4{
	font-size: 140%;
	font-weight: normal;
	line-height: 1.2;
	margin: 1.3em 0 0.4em;
}

div.search-item h4 a{
	text-decoration: none;
}

div.search-item h4 img{
	border: 0px;
	vertical-align: middle;
}

div.search-item h4 span{
	text-decoration:underline;
	vertical-align: middle;
}

div.search-result{
	margin: 0;
}

div.search-preview{
	margin: 0.5em 0;
}

div.search-item-meta{
	margin: 1em 0 0 0;
	overflow: hidden;
	//zoom: 1;
}

div.search-item-rate{
	float: left;
	margin: -3px 6px 0 0;
}

div.search-item-tags{
	float: left;
}

div.search-item-date{
	float: right;
}

div.search-page .search_form{
	text-align: left;
	width: auto;
}

div.search-page input.search-query{
	float: left;
}

div.search-page input.search-suggest{
	border: 1px solid;
	font-size: 1.3em;
	width: 99%;
}
div.search-page input.search-button{
	float: left;
}

div.search-filter h2{
	border: none;
	margin: 1em 0 0.5em;
}

table.search-filter{
	margin-top: 0.5em;
	width: 100%;
}

table.search-filter td{
	border-top: 1px solid;
	padding: 1em;
}

td.search-filter-name{
	text-align: right;
	width: 10%;
}

td.search-filter-field{
	width: 50%;
}

table.search-filter input.input-field{
	border: 1px solid;
	font-size: 1.3em;
}
table.search-filter select.select-field{
	border: 1px solid;
	font-size: 1.2em;
}

div.search-sorting{
	float: right;
}
div.search-sorting b{
	padding: 0.2em 0.3em 0.3em;
	font-weight: normal;
}

div.search-item,
table.search-filter td{
	border-color: #E9E9E9;
}

div.search-page input.search-query,
div.search-page input.search-suggest,
table.search-filter input.input-field,
table.search-filter select.select-field{
	background: #F8F7F7;
	border-color: #D9D9D9;
}

div.search-advanced,
div.search-item-meta,
div.search-item-meta a{
	color: #8a8a8a;
}

div.search-sorting b{
	background: #e8e9ec;
}

.search-item-rate{
	font-size: 11px;
}

/*system.pagenavigation:default*/
.page-nav{
	float: right;
	margin-top: 10px;
}

.page-next,
.page-prev{
	display: inline-block;
	//display: inline;
	height: 10px;
	vertical-align: middle;
	width: 24px;
	//zoom: 1;
}

.page-next{
	background: url(img/arrowR.png) no-repeat scroll 0 0 transparent;
}

.page-prev{
	background: url(img/arrowL.png) no-repeat scroll 0 0 transparent;
}

/*main.feedback:i*/
.mfeedback{
	float: left;
	margin-bottom: 20px;
	width: 70%;
}

.mfeedback p{
	margin-bottom: 10px;
}

#page .mfeedback input[type="text"],
#page .mfeedback textarea{
	padding-left: 2%;
	padding-right: 2%;
	width: 96%;
}

.mf-text{
	font-size: 16px;
}

.mf-req{
	color: red;
}
.mf-ok-text{
	color: green;
	font-weight: bold;
	padding-bottom: 1em;
}

.mf-captcha{
	text-align: justify;
}

.mf-captcha:after{
    content: "";
    display: inline-block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 100%;
}

.mf-captcha .mf-text{
	font-size: 12px;
}

.mf-captcha .mf-text,
.mf-captcha img,
#page .mf-captcha input[type="text"]{
	display: inline-block;
	//display: inline;
	text-align: left;
	vertical-align: top;
	width: 30%;
	//zoom: 1;
}