.yakus-geo-ip{position: relative; display: inline-block;}

.modal-confirm{position: absolute; left: 0px; top: 20px; width: 270px; background: #575757; color: #fff; -webkit-box-shadow: #727272 1px 1px 4px; box-shadow: #6C6C6C 1px 1px 6px; z-index: 9950; padding: 10px;}
.modal-confirm-title{font-size: 15px;}
.modal-confirm-your-town{font-size: 22px; margin-top: 15px; margin-bottom: 15px;}
.modal-confirm button.close-y {color: #fff; text-shadow: 0 1px 0 #000000;}
.modal-confirm-yes, .modal-confirm-no{outline: none; cursor: pointer; display: inline-block; width: 48%; box-sizing: border-box; padding: 10px 10px; font-size: 13px; color: #fff; border: none; background: #686868;}
.modal-confirm-yes{float: right; background: #48b13b;}

.modal-y {
    display: none;
    position: fixed;
    top: 200;
    left: 200;
    z-index: 9950;
    outline: 0;
    background: #fff;
    width: 600px;
    -webkit-box-shadow: #727272 1px 1px 4px;
    box-shadow: #6C6C6C 1px 1px 6px;
}

.modal-y-header {
    padding: 15px;
    border-bottom: 1px solid #E5E5E5;
    min-height: 16px;
}

button.close-y {
    padding: 0;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    border: 0;
    -webkit-appearance: none;
    margin-top: -2px;
}
.close-y {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #FFF;
    opacity: .2;
    filter: alpha(opacity=20);
}

.close-y:hover {
    opacity: 0.4;
}

.modal-y-title {
    font-size: 13px;
    margin: 0;
    line-height: 1.428571429;
    color: #181818;
    font-weight: bold;
}

.modal-y-body {
    position: relative;
    padding: 20px;
}

.form-control-y {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#city_name_txt{width: 540px; height: 14px; padding: 8px; line-height:18px; font-size: 13px;}

#list_city {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 550px;
    background-color: #EFEFEF;
    border: 1px solid #FFF;
    padding: 0px 0px 5px 5px;
    -webkit-box-shadow: #727272 1px 1px 4px;
    box-shadow: #A5A5A5 1px 1px 4px;
    display: block;
}

#list_city a {
    display: block;
    line-height: 30px;
    text-decoration: none;
}


.col-xs-4-y {
    list-style: none;
    width: 170px;
    float: left;
    margin: 15px 0px 15px 0px;
    padding: 0px;
}
.col-xs-4-y a{
    line-height: 22px;
    color: #000;
    text-decoration: none;
}
.col-xs-4-y a:hover{
    color: #009cf7;
}


.btn-primary-y {
    color: #FFF;
    background-color: #428BCA;
    border-color: #357EBD;
}
.btn-primary-y:hover {
    color: #FFF;
    background-color: #3177a5;
    border-color: #357EBD;
}

.btn-y {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#shadow-y{
    background: #000000;
    opacity: .2;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    display: none;
    z-index: 900;
}